## https://www.hongkiat.com/blog/goodreads-ratings-api/
{
  "version": "2018-05-29",
  "method": "GET",
  "resourcePath": "/book/review_counts.json",
  "params": {
    "query": {
      "format": "json",
      "key": "AhqjwpkWhK57l3Lgwb2EQ",
      "isbns": "$ctx.source.isbn"
    }
  }
}